<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Price Query</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
    <script>

        const socket = io()
        socket.on('message', function(data){
            const newDiv = document.createElement('div');
            newDiv.textContent = data.sender + ": " + data.content;
            document.getElementById('result').appendChild(newDiv)
        })

        function triggerEndpoint() {
            var stockName = document.getElementById('stockName').value;
            fetch('/run?stock=' + stockName)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('result').innerText = JSON.stringify(data, null, 2);
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <h1>Query Stock Price</h1>
    <input type="text" id="stockName" placeholder="Enter stock name (e.g., AAPL)">
    <button onclick="triggerEndpoint()">Get Stock Price</button>
    <pre id="result"></pre>
</body>
</html>